#banner_sub {
    position: relative;
    top: -1.2em;
}

.nist-banner-logo {
    width: 150px;
    margin-bottom: 25px;
}

.nist-banner-logo a {
    text-decoration: none;
    border: 0 none;
}

.feedback-link {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

.feedback-link:hover {
    color: white;
    text-decoration: none;
    border: 1px solid white;
}

.nist-footer {
    margin-top: 30px;
}

.header-provide {
    height: 80px;
}