#banner_sub {
    position: relative;
    top: -1.2em;
}

.nist-banner-logo {
    width: 150px;
    margin-bottom: 25px;
}

.nist-banner-logo a {
    text-decoration: none;
    border: 0 none;
}

.feedback-link {
    margin-top: 20px;
    color: #2f2f2f;
    text-decoration: none;
    border: 1px solid #2f2f2f;
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
}

.feedback-link:hover {
    color: #4f4f4f;
    text-decoration: none;
    border: 1px solid #4f4f4f;
}

.nist-footer {
    margin-top: 30px;
}

.header-provide {
    background-image: url(../img/landing_header_bg.png);
}

.header-provide img {
    vertical-align: middle !important;
}